.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name
        yuya
      .side-bar__header__box__user-name__icon
        .side-bar__header__box__user-name__icon__edit
        = link_to "#" do
          <i class='far fa-edit'></i>
        .side-bar__header__box__user-name__icon__cog
        = link_to "#" do
          <i class="fas fa-cog"></i>
  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__group-name
        techcamp
      .side-bar__groups__group__latest-message
        まだメッセージがありません
    .side-bar__groups__group
      .side-bar__groups__group__group-name
        techcamp
      .side-bar__groups__group__latest-message
        まだメッセージがありません